.stimuli {
  position: absolute;
  left: 0;
  right: 0;
  top: 45%;
  font-size: 30px;
  display: none;
}

.target-container {
  text-align: center;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
