<template name="Intro">
  <div class="container-fluid">
  <div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8 intro-body consent-body">
      <h1>Instructions</h1>
      <p>For the next task, you will decide as quickly as possible, whether a target letter string is a real word or nonsense word.  For each judgment, two letter strings will appear sequentially: the first letter string will always be a word and will signal when the second string will appear. The first word will then be followed by a row of Xs (XXXXXXXX) before the second (target) letter string will appear.</p>

      <p>Your task is to decide whether the second letter string is a word or not as quickly as possible. You should press the “z” key for a NONSENSE WORD, and the “/” key for a real WORD.</p>

      <p><strong>Z</strong> = nonsense word <br> <strong>/</strong> = real word</p>

      <p>Press space bar now to proceed to the experiment.</p>

    </div>
    <div class="col-sm-2"></div>
  </div>
</div>
</template>