<template name="TargetTask">
<div class="container-fluid">
  {{> TargetPrepareTask}}

  <div class="row">
    <div class="col-sm-12 target-container">
      <div class="stimuli ready">+</div>
      <div class="stimuli prime"></div>
      <div class="stimuli target"></div>
     
    </div>
  </div>
</div>
</template>

<template name="TargetPrepareTask">
<div class="row target-prepare-container">
  <div class="col-sm-3"></div>
  <div class="col-sm-6 intro-body">
    <p>Remember, your task is to decide whether <strong>the second letter string</strong> is a word or not as quickly as possible.</p> 

    <p><strong>Press the spacebar to start.</strong></p>
  </div>
  <div class="col-sm-3"></div>
</div>
</template>
